genetic_gfn/multi_objective/genetic_gfn/results/
__pycache__/
.ipynb_checkpoints/
genetic_gfn/multi_objective/data/docked_mols.h5 
genetic_gfn/multi_objective/oracle/

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.env

.vscode/
.idea/

moo_results/
*.pkl
*.png
*.jpeg
*.jpg
*.log

*.bak
*.$$$
